.review-item {
  width: 600px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 8px;
  height: 107px;
  display: flex;
}

.review-item img {
  width: 91px;
  height: 91px;
}

.review-details p {
    margin: 0 15px;
}

.review-details {
    flex-grow: 1;
}

.orange-text {
    color : #FF9900;
}

.product-title {
  color: #1c2b35;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}

.btn-delete {
    height: 55px;
    width: 55px;
    background-color: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    border: 0px;
    color: rgba(235, 87, 87, 1);
    font-size: 27px;
}

.dlt-icon {

}
