.header {
  height: 80px;
  width: 1900px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.header a {
  text-decoration: none;
  color: white;
  padding-left: 40px;
}

.header a:hover {
  color: orange;
}
